################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/sql-liste-test/CopilotIndices/18.6.39588.17144
/.vs
